//colors
$primaryCol: #000814;
$secondaryCol: #001d3d;
$secondaryLight: #003566;
$secondaryDark: #001125;
$thirdCol: #ffc300;
$thirdLightCol: #ffd60a;
$fourthCol: #fb8500;

//whites
$whitePrimaryCol: #eee;
$whiteDarkCol: #aaa;

//grays
$grayPrimaryCol: #a6a6a6;

$dangerCol: #eb4a4c;
